h1{
    color: #023047;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
  }
  p{
    color:#219ebc;
    /*background-color: rgba(218, 240, 233, 0.356);*/
    background-color: #8ecae6;
    padding: 13px;
    border: 10px solid #ffb703;
    /*margin-top: 40px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 23;*/
    /*son cuatro valore al poner dos estamos duplicando*/
    /*margin: 32px 10px;*/
    margin: auto 50px;
    text-align: center;

   
   

  }